@using Spellfire.Model
@model Spellfire.Web.Models.HomeViewModel

@{
    if (Model.SelectedCard == null)
    {
    <div style="padding-top: 10px;">
        <span style="color: red;">No card was found!</span>
    </div>
        return;
    }

    var c = Model.SelectedCard;
    var totalCards = 3919;
    var nextId = c.SequenceNumber >= totalCards ? 1 : c.SequenceNumber + 1;
    var prevId = c.SequenceNumber <= 1 ? totalCards : c.SequenceNumber - 1;
    var bluelineLength = c.Blueline != null ? c.Blueline.Length : 0;
    var powerClass = c.Power.Length + bluelineLength > 320 ? "longText" : string.Empty;

    ViewBag.Title = c.Name;
}

<div id="card" style="width: 300px;">
    <div class="cardHeader">
        <div class="cardIcon pull-left">
            <img src="~/Content/Images/icons/@Model.GetIcon" alt=""/>
        </div>
        <div class="cardLevel pull-right">@c.Level</div>
    </div>
    <div class="cardTitle">
        <div class="cardWorld pull-left">
            <img src="~/Content/Images/worlds/@c.World.ImagePath" alt=""/>
        </div>
        <div class="cardName pull-right">@c.Name</div>
    </div>
    <div class="cardPower @powerClass">@c.Power <span style="color: blue;">@c.Blueline</span></div>
    <div class="cardFooter">
        <div class="cardRarity pull-left">@c.Rarity.ShortName</div>
        <div class="cardBooster pull-left">@c.Booster.Name
            @*<img src="~/Content/Images/worlds/add.gif" alt="" />*@
        </div>
        <div class="cardNumber pull-right">@c.Number of @c.NumberSet</div>
    </div>
</div>
@*<div style="width: 300px;">
    <div class="pull-left" style="width: 0%">
        @Html.ActionLink("< Prev", "Details", "Card", htmlAttributes: new { id = @prevId, @class = "btn btn-small btn-primary" })
    </div>
    <div class="pull-left" style="width: 50%">
    </div>
    <div class="pull-right" style="width: 0%">
        @Html.ActionLink("Next >", "Details", "Card", htmlAttributes: new { id = @nextId, @class = "btn btn-small btn-primary" })
    </div>
</div>
<table class="table table-striped table-bordered details">
    <tr>
        <td>Key</td>
        <td>@Model.SelectedCard.CardKey</td>
    </tr>
    <tr>
        <td>Types</td>
        <td>@Model.GetTypesCsv</td>
    </tr>
    <tr>
        <td>Attributes</td>
        <td>@Model.GetAttributesCsv</td>
    </tr>
    <tr>
        <td>Phases</td>
        <td>@Model.GetPhasesCsv</td>
    </tr>
</table>*@
