@model Spellfire.Model.Card

@{
    var bluelineLength = Model.Blueline != null ? Model.Blueline.Length : 0;
    var completePowerLength = Model.Power.Length + bluelineLength;
    var powerClass = completePowerLength > 498 ? "text-small" : (completePowerLength > 324 ? "text-medium" : string.Empty);
}

<div class="cardHeader">
    <div class="cardIcon pull-left">
        <img src="~/Images/icons/@Model.IconPath" alt="" />
    </div>
    <div class="cardWorld2 pull-right">
        <img src="~/Images/worlds/@Model.World.ImagePath" alt="" class="world"/>
    </div>
    @*    <div class="cardLevel pull-right">@Model.Level</div>*@
</div>
<div class="cardTitle2">
    <div class="cardName2 pull-left">@Model.Name</div>
</div>
<div class="cardPower2 @powerClass">@Model.Power <span class="blueline" title="Blueline">@Model.Blueline</span></div>

