@using Spellfire.Model
@model Spellfire.Web.Models.HomeViewModel

@{
    var card = Model.SelectedCard;

    if (card == null)
    {
    <div style="padding-top: 10px;">
        <span style="color: red;">No card was found!</span>
    </div>
        return;
    }

    var totalCards = 3919;
    var nextId = card.SequenceNumber >= totalCards ? 1 : card.SequenceNumber + 1;
    var prevId = card.SequenceNumber <= 1 ? totalCards : card.SequenceNumber - 1;
    var bluelineLength = card.Blueline != null ? card.Blueline.Length : 0;
    var powerLength = card.Power.Length + bluelineLength;
    var powerClass = powerLength > 498 ? "text-small" : (powerLength > 324 ? "text-medium" : string.Empty);

    ViewBag.Title = card.Name;
}

<div id="card">
    <div class="cardHeader">
        <div class="cardIcon pull-left">
            <img src="~/Images/icons/@card.IconPath" alt="" />
        </div>
        <div class="cardLevel pull-right">@card.Level</div>
    </div>
    <div class="cardTitle">
        <div class="cardWorld pull-left">
            <img src="~/Images/worlds/@card.World.ImagePath" alt="" />
        </div>
        <div class="cardName pull-right">@card.Name</div>
    </div>
    <div class="cardPower @powerClass">@card.Power <span style="color: blue;">@card.Blueline</span></div>
    <div class="cardFooter">
        <div class="cardRarity pull-left">@card.Rarity.ShortName</div>
        <div class="cardBooster pull-left">@card.Booster.Name
            @*<img src="~/Images/worlds/add.gif" alt="" />*@
        </div>
        <div class="cardNumber pull-right">@card.Number of @card.NumberSet</div>
        <div class="clear-both"></div>
    </div>
</div>
@*
<div style="width: 300px;">
    <div class="pull-left" style="width: 0%">
        @Html.ActionLink("< Prev", "Details", "Card", htmlAttributes: new { id = @prevId, @class = "btn btn-small btn-primary" })
    </div>
    <div class="pull-left" style="width: 50%">
    </div>
    <div class="pull-right" style="width: 0%">
        @Html.ActionLink("Next >", "Details", "Card", htmlAttributes: new { id = @nextId, @class = "btn btn-small btn-primary" })
    </div>
</div>
<table class="table table-striped table-bordered details">
    <tr>
        <td>Types</td>
        <td>@card.TypesCsv</td>
    </tr>
    <tr>
        <td>Attributes</td>
        <td>@card.AttributesCsv</td>
    </tr>
    <tr>
        <td>Phases</td>
        <td>@card.PhasesCsv</td>
    </tr>
</table>
*@
