@model Spellfire.Model.Card

@{
    var bluelineLength = Model.Blueline != null ? Model.Blueline.Length : 0;
    var powerLength = Model.Power.Length + bluelineLength;
    var powerClass = powerLength > 498 ? "text-small" : (powerLength > 324 ? "text-medium" : string.Empty);
}

<div class="cardHeader">
    <div class="cardIcon pull-left">
        <img src="~/Images/icons/@Model.IconPath" alt="" />
    </div>
    <div class="cardLevel pull-right">@Model.Level</div>
</div>
<div class="cardTitle">
    <div class="cardWorld pull-left">
        <img src="~/Images/worlds/@Model.World.ImagePath" alt="" />
    </div>
    <div class="cardName pull-right">@Model.Name</div>
</div>
<div class="cardPower @powerClass">@Model.Power <span style="color: blue;">@Model.Blueline</span></div>
<div class="cardFooter">
    <div class="cardRarity pull-left">@Model.Rarity.ShortName</div>
    <div class="cardBooster pull-left">@Model.Booster.Name
        @*<img src="~/Images/worlds/add.gif" alt="" />*@
    </div>
    <div class="cardNumber pull-right">@Model.Number of @Model.NumberSet</div>
    <div class="clear-both"></div>
</div>

